
     body {
      font-family: Times Roman;
	  font color: white
	  margin-right:auto;
	  margin-left:auto;
	  text-align: auto

    }
    h1 {
		color:brown;'
		font-size: 30
    }
    body {
      background-color: white;
    }

.image{
	width:300px;
}
.together{
	float:left;
}
.togethertwo{ float:left; }
 .boxone{
	     background-color: #ff8c69;
  width: 300px;
padding: 20px;
  margin-right:5px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left:5px;
